<br>
<div class="container">
<div class="row justify-content-center">
<div class="col-md-8">
    <div class="card">
          <div class="card-header bg-primary"><h5 class="text-white text-center">Liste des projets vous participez :</h5></div>
        <div class="card-body">
        <ul class="list-group">
    <% current_user.adverts.each do |advert| %>
    <ul class="list-group">
        <% advert.projects.each do |project| %>
            <li class="list-group-item  project-list d-flex justify-content-between align-items-center mb-1 font-weight-bold">
                <%= project.title %>
                <%= link_to "Détails", project_path(project.id), :class => "btn btn-primary btn-sm" %>
            </li>
        <% end %>
    </ul>
    <% end %>
    </div>
</div>
</div>
<br>
<br>

<div class="col-md-8">
    <div class="card mt-4">
          <div class="card-header bg-primary"><h5 class="text-white text-center">Liste de vos annonces :</h5></div>
        <div class="card-body">
        <ul class="list-group">
    <% current_user.adverts.each do |advert| %>
    <ul class="list-group">
        <li class="list-group-item  project-list d-flex justify-content-between align-items-center mb-1 font-weight-bold">
            <%= advert.tag %> <%= advert.title %> 
            <div class=" justify-content-end", style="text-decoration: none">
             <%= link_to "Détails", advert_path(advert.id), :class => "btn btn-primary btn-sm" %> 
            <%= link_to "Modifier", edit_advert_path(advert.id), :class => "btn btn-primary btn-sm"  %> 
            <%= link_to "Supprimer", advert_path(advert.id), method: :delete, :class => "btn btn-primary btn-sm"  %>
            </div>
        </li>
    </ul>
    <% end %>
</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>