<br>
<div class="container">
    <h2>Liste des projets auxquels vous participez :</h2>
    <% current_user.adverts.each do |advert| %>
    <ul class="list-group">
        <% advert.projects.each do |project| %>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-1 d-flex justify-content-between">
                <%= project.title %> <%= project.description %> <%= link_to "Détails du projet", project_path(project.id) %>
            </li>
        <% end %>
    </ul>
    <% end %>
    <br>
    <h2>Liste de vos annonces :</h2>
    <% current_user.adverts.each do |advert| %>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 d-flex justify-content-between">
            <%= advert.tag %> <%= advert.title %> <%= advert.description %> <%= link_to "Détails de l'annonce", advert_path(advert.id) %> <%= link_to "Modifier l'annonce", edit_advert_path(advert.id) %> <%= link_to "Supprimer l'annonce", advert_path(advert.id), method: :delete %>
        </li>
    </ul>
    <% end %>
</div>
