<nav class="login-form mt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card">
                    <div class="card-header bg-primary"><h4 class="text-white text-center">Créer un compte</h4></div>
                  <div class="card-body">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="form-group row">
                      <%= f.label :prénom, class: "col-md-4 col-form-label text-md-right" %>
                      <div class="col-md-6">
                        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: "Prénom" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :nom, class: "col-md-4 col-form-label text-md-right" %>
                      <div class="col-md-6">
                        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder: "Nom" %>
                      </div>
                    </div>
                    <div class="form-check row text-center"><div class="col-md-6 offset-md-4">
                    <%= f.radio_button(:user_type, "influencer") %>
                    <%= f.label(:user_type, "Je suis Inflenceur") %>
                    <br>
                    <%= f.radio_button(:user_type, "freelance") %>
                    <%= f.label(:user_type, "Je suis Freelance") %>
                  </div></div>
                      <div class="form-group row">
                        <%= f.label :email, class: "col-md-4 col-form-label text-md-right" %>
                        <div class="col-md-6">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id:"email_address", placeholder: "Email" %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <%= f.label :mot_de_passe, class: "col-md-4 col-form-label text-md-right" %>
                          <div class="col-md-6">
                            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Mot de passe" %>
                          </div>
                        </div>
                      <div class="form-group row">

                        <%= f.label :confirmation_du_mot_de_passe, class: "col-md-4 col-form-label text-md-right" %>
                          <div class="col-md-6">
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirmation du mot de passe" %>
                          </div>
                      </div>
                      <div class="col-md-6 offset-md-4">
                        <%= f.submit "Créer un compte", class: "btn btn-primary mx-5" %>
                        <% end %>
                        <br>
                      </div>
                        <%= render "devise/shared/links", class: "mx-5 text-center" %>
                      </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  </div>
</nav >
