<!DOCTYPE html>
<html>
  <head>
    <title>Influence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="jumbotron text-center text-white">
  <h1 class="display-4  text-white">Booste ta carrière d’influenceur</h1>
  <p class="lead">Créer ton projet en 3 clics et engage des Freelances pour professionnaliser tes Réseaux.</p>
  <p>Les meilleurs photographes, monteurs, maquilleurs et graphistes à portée de clic !</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Je suis Influenceur</a>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Je suis Freelance</a>
  </p>
</div>
  <% if current_user != nil && current_user.user_type == "freelance" %>
    <%= render "projects/index" %>
  <% end %>
  </body>
</html>
