<nav class="login-form mt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card">
                    <div class="card-header bg-primary"><h4 class="text-white text-center">Créer un nouveau projet</h4></div>
                  <div class="card-body">
<% if @errors %>
  <% @errors.messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    Le champ <%= message[0] %> a le problème suivant: <%= message[1][0] %>
  </div>
  <% end %>
<% end %>


    <%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class="form-group row justify-content-center">
      <div class="col-md-8">
    <%= label_tag 'Titre' %>
    <%= text_field_tag 'title' %>
    <br> <br>
  </div>
</div>

<div class="form-group row justify-content-center">
  <div class="col-md-8">
    <%= label_tag 'Description' %>
    <%= text_area_tag 'description' %>
    <br><br>
  </div>
</div>

<div class="form-group row justify-content-center">
  <div class="col-md-8">
    <%= label_tag 'Liens divers (Linkdin, CV, portfolio...)' %>
    <%= text_area_tag 'link_field' %>
    <br><br>
  </div>
</div>
<div class="form-group row justify-content-center">
<%= submit_tag("Créer le projet", class: "btn btn-primary text-center") %>

<% end %>
  
</div>
</div>
</div>
</div>
</div>
</div>
</nav>