<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container' style="margin-top: 5rem;">
    <div class="card mb-5" style="width:80%; margin: auto;">
      <h3 class="card-header"><%= @project.title =%></h3>
      <img style="height: auto; width: 100%; display: block;" src="<%= @project.picture =%>" alt="Card image">
      <div class="card-body">
        <p class="card-text"><h3>Description du projet:</h3> <%= @project.description.tr('[\"\"]','') =%></p>
        <p class="card-text"><h5>Liens:</h5> <%= @project.link_field.tr('[\"\"]','') =%></p>
        <hr>
        
      </div>
      <div class="card-footer text-muted text-center" >
        <% if current_user.id == @project.user_id %>
          <%= link_to 'Modifier ce projet', edit_project_path, class: "btn btn-primary" %>
        <% elsif current_user.user_type == 'freelance' %>
          <% current_user.adverts.each do |advert| %>
          <% hidden_field_tag 'token', advert.id %>
            <%= link_to "S\'inviter en tant que #{advert.tag}", project_adverts_projects_join_index_path(params[:id]), method: :create, class: "btn btn-primary mb-1" %>
          <% end %>
        <% end %>
        <%= link_to 'Retourner à l\'index des projets', projects_path, class: 'btn btn-primary' %>
      </div>
    </div>  
</div>
</body>
</html>
