<h1 class="text-center" style="margin-top: 2rem;">Freelances disponibles</h1>

<div class="container">

<div class="border p-3">
  <%= search_form_for @q do |f| %>
  <div class = "d-flex justify-content-between align-items-center">
    <div class="block">
      <%= f.label :tag_eq,  "Filtrer par Métier"%>
      <%= f.select :tag_eq, options_for_select([['Photographe','Photographe'],['Graphiste','Graphiste'],['Maquilleur','Maquilleur'],['Monteur','Monteur']], :selected => params[:q][:tag_eq]), {:include_blank => "Tout afficher"}, {id:"custom_dropdown", class: "form-control"} %>
    </div>
    <div class="block">
      <%= f.label :price_gteq,  "Prix entre" %>
      <%= f.number_field :price_gteq, min:0, step:10 %>

      <%= f.label :price_lteq,  "et" %>
      <%= f.number_field :price_lteq, min:10, step:10%>
    </div>
    <div class="submit">
      <%= f.submit "Rechercher", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
  </div>
  <div class="row mt-4">
    <% @adverts.each do |advert|%>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card mb-3">
        <% if advert.avatar.attached? %>
          <%= image_tag advert.avatar, alt:'avatar',style:"height: 200px; width: 100%; display: block;"%>
        <% else %>
          <img style="height: 200px; width: 100%; display: block;" src="<%= advert.picture %>" alt="Card image">
        <% end %>
        <div class="card-body">
          <h4> <%= advert.user.first_name %> <%= advert.user.last_name %></h4>
          <p class="card-text"><%=advert.tag %></p>
          <div class="price-container" style="display:flex;align-items:center;width:52%;height:5vh;border:1px solid lightgrey;border-radius:20px;padding-left:10px;">
            <div class="circle bg-primary" style="width:10px;height:10px;border:1px solid black;border-radius:90px;" ></div>
            <p style="margin-bottom:0;"><span class="font-weight-bold ml-2"><%=advert.price %>€</span><small class="text-muted">/ jour indicatif</small></p>
          </div>
          <a href="<%= advert_path(advert.id) %>" class="btn btn-primary mt-4">Profil complet</a>
        </div>
      </div>  
    </div>
    <%end%>
  </div>
</div>