
<h2 class="text-center" style="margin-top: 2rem;">Freelances disponibles</h2>
<br>
<div class="container">
  <div class="row">
    <% @adverts.each do |advert|%>
      <div class="col-md-4 d-flex text-center">
      <div class="card mb-4" style="width:20rem;">
      <h5 class="card-header bg-primary text-white"><%= advert.user.first_name %> <%= advert.user.last_name %></h5>
        <% if advert.avatar.attached? %>
          <%= image_tag advert.avatar, alt:'avatar',style:"height: auto; width: 100%; display: block;"%>
        <% else %> 
          <img style="height: auto; width: 100%; display: block;" src="<%= advert.picture  =%>" alt="Card image">
        <% end %>
        <div class="card-body text-center" style="border-top:1px solid lightgrey;">
          <h5 class="card-text"><%=advert.tag %></h5>
          <div class="card-body text-center">
          <span class="badge badge-pill badge-primary"><%=advert.price %>€ / jour indicatif</span>
          </div>
          <a href="<%= advert_path(advert.id) %>" class="btn btn-primary">Profil complet</a>
        </div>
      </div>  
    </div>
    <%end%>
  </div>
</div>