<h1 class="text-center" style="margin-top: 2rem;">Freelances disponibles</h1>

<div class="container">
  <div class="row mt-4">
    <% @adverts.each do |advert|%>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card mb-3">
        <img style="height: 200px; width: 100%; display: block;" src="<%= advert.picture %>" alt="Card image">
        <div class="card-body">
          <h4> <%= advert.user.first_name %> <%= advert.user.last_name %></h4>
          <p class="card-text"><%=advert.tag %></p>
          <div class="price-container" style="display:flex;align-items:center;width:52%;height:5vh;border:1px solid lightgrey;border-radius:20px;padding-left:10px;">
            <div class="circle bg-primary" style="width:10px;height:10px;border:1px solid black;border-radius:90px;" ></div>
            <p style="margin-bottom:0;"><span class="font-weight-bold ml-2"><%=advert.price %>€</span><small class="text-muted">/ jour indicatif</small></p>
          </div>
          <a href="<%= advert_path(advert.id) %>" class="btn btn-primary mt-4">Profil complet</a>
        </div>
      </div>  
    </div>
    <%end%>
  </div>
</div>