    <% if @errors %>
    <% @errors.messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
    Le champ <%= message[0] %> a le problème suivant: <%= message[1][0] %>
    </div>
      <% end %>
    <% end %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card my-4">
            <div class="card-header bg-primary"><h4 class="text-white text-center">Modifier une annonce</h4></div>
              <div class="card-body">
                <%= form_with model: @advert do |f| %>
                    <div class="form-group row d-flex flex-column align-items-center">
                      <div>
                        <% if @advert.avatar.attached? %>
                          <%= image_tag @advert.avatar.variant(resize: "120x120!"), class:"rounded-circle" %>
                        <% else %>
                          <%= image_tag @advert.picture, height: 120, width:120, class:"rounded-circle" %>
                        <% end %>
                      </div>
                      <div>
                        <%= f.file_field :avatar %>
                      </div>
                    </div>
                    <br> <br>
                     <div class="form-group row">
                      <%= f.label 'Métier', class:'col-md-4 col-form-label text-md-right'  %>
                      <div class="col-md-6">
                        <%= f.select :tag, options_for_select(['Photographe','Graphiste','Maquilleur','Monteur']), {}, {id:"custom_dropdown", class: "form-control disable", disabled: true } %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label 'Ville', class:'col-md-4 col-form-label text-md-right'  %>
                      <div class="col-md-6">
                        <%= f.select :city_id, options_for_select([['Paris', 1], ['Biarritz', 2], ['Lyon', 3], ['Marseille', 4]]), {}, {id:"custom_dropdown", class: "form-control"} %>
                      </div>
                    </div>
                    <br> <br>
                    <div class="form-group row">
                      <%= f.label 'Description', class:'col-md-4 col-form-label text-md-right'  %>
                      <div class="col-md-6">
                        <%= f.text_area :description, class: "form-control" %>
                      </div>
                    </div>
                    <br> <br>
                    <div class="form-group row">
                      <%= f.label 'Taux journalier', class:'col-md-4 col-form-label text-md-right'  %>
                      <div class="col-md-6">
                        <%= f.number_field :price, class: "form-control", step: "10", min: 10 %>
                      </div>
                    </div>
                    <br> <br>
                    <div class="form-group row">
                      <%= f.label 'Liens divers(Linkdin, CV, portfolio', class:'col-md-4 col-form-label text-md-right' %>
                      <div class="col-md-6">
                        <%= f.text_field :link_field, class: "form-control" %> 
                      </div>
                    </div>
                    <br> <br>
                    <div class="col-md-6 offset-md-4">
                      <%= f.submit "Sauvegarder", class: "btn btn-primary mx-5" %>
                      <% end %>     
                      <%= link_to "Supprimer l'annonce", advert_path(@advert.id), method: :delete, class: "btn btn-outline-danger m-2" %>
                    </div>    
                     
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>