    <% if @errors %>
    <% @errors.messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
    Le champ <%= message[0] %> a le problème suivant: <%= message[1][0] %>
    </div>
      <% end %>
    <% end %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card my-4">
            <div class="card-header bg-primary"><h4 class="text-white text-center">Modifier une annonce</h4></div>
              <div class="card-body">
                <%= form_with model: @advert do |f| %>
                    <div class="form-group row">
                      <%= f.label 'Description', class:'col-md-4 col-form-label text-md-right'  %>
                      <div class="col-md-6">
                        <%= f.text_area :description, class: "form-control" %>
                      </div>
                    </div>
                    <br> <br>
                    <div class="form-group row">
                      <%= f.label 'Taux journalier', class:'col-md-4 col-form-label text-md-right'  %>
                      <div class="col-md-6">
                        <%= f.number_field :price, class: "form-control", step: "10", min: 10 %>
                      </div>
                    </div>
                    <br> <br>
                    <div class="form-group row">
                      <%= f.label 'Liens divers(Linkdin, CV, portfolio', class:'col-md-4 col-form-label text-md-right' %>
                      <div class="col-md-6">
                        <%= f.text_field :link_field, class: "form-control" %> 
                      </div>
                    </div>
                    <br> <br>
                    <div class="col-md-6 offset-md-4">
                      <%= f.submit "Sauvegarder", class: "btn btn-primary mx-5" %>
                      <% end %>
                    </div>          
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>