<div class="container mt-5">
  <div class="card flex-row mb-5 " style="height:20rem;">
    <img style="width:22rem;height:20rem;"src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="">
    <div class="block d-flex" style="width:100%;">
      <div class="sub-block d-flex flex-column justify-content-between pl-4" style="width:100%;">
        <div class="card-block pt-4" style="width:60%;">
          <h3 class="card-title"><%= @advert.user.first_name %> <%= @advert.user.last_name %></h3>
          <h6 class="card-text"><%= @advert.title %></h6>
        </div>
        <div class="card-block pb-4">
          <div class="price-container bg-primary" style="display:flex;align-items:center;width:30%;height:4rem;border-radius:10px;padding-left:12px;">
            <div class="circle bg-secondary" style="width:5px;height:40px;border:1px solid black;border-radius:7px;" ></div>
            <div class="text-white ml-3">
              <p style="margin-bottom:0;">Tarif indicatif : </small></p>
              <h5 style="margin-bottom:0;"><span class="font-weight-bold text-white"><%=@advert.price %>$</span><span class="text-muted small">/ jour</span></h5>
            </div>
          </div>
          <h6 class="card-text mt-3"> Lien : <a href ="<%= @advert.link_field %>"><%= @advert.link_field %></a></h6>
        </div>
      </div>
        <div class="sub-block d-flex align-items-center" style="width:40%;">
          <a href="#" class="btn btn-primary" style="width:100%;">Inviter a un projet</a>
        </div>
      </div>
  </div>
</div>