<div class="container mt-4">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<h4 class="card-header bg-primary text-white text-center"><%= @advert.user.first_name %> <%= @advert.user.last_name %></h4>
    <% if @advert.avatar.attached? %>
    
    <div class="card-body">
      <%= image_tag @advert.avatar, alt: 'avatar', style:"width:15rem; height:15rem; d-flex img-responsive"%>
    <% else %>
      <img style="width:15rem; height:15rem; d-flex img-responsive" src="<%= @advert.picture %>" alt="">
    <% end %>
    
   
          <h5 class="card-text mx-auto mr-5 ml-4 mt-4"><%= @advert.tag %></h5></div>
          <div class="p-2 bd-highlight mt-4 d-flex ">
          <h6 class="card-text mt-3"> Lien : <a href ="<%= @advert.link_field %>"><%= @advert.link_field %></a></h6>
       
  
        <div class="row">
        <div class="col-md-8 mx-auto">
        <h6 class="card-text  mr-5 ml-4 mt-4">Description : </h6>
        <p class="card-text  mr-5 ml-4 mt-4"><%= @advert.description %></p>
     
      
          <div class="price-container bg-primary" style="display:flex;align-items:center;width:35%;height:4rem;border-radius:10px;padding-left:12px;">
            <div class="circle bg-secondary" style="width:5px;height:40px;border:1px solid black;border-radius:7px;" ></div>
            <div class="text-white ml-3">
              <p style="margin-bottom:0;">Tarif indicatif : </small></p>
              <h5 style="margin-bottom:0;"><span class="font-weight-bold text-white"><%=@advert.price %>$</span><span class="text-muted small">/ jour</span></h5>
           
    
         
        </div>
      </div>
      <div class="col-md-8 ">
        <div class="sub-block d-flex flex-column align-items-center justify-content-center" style="width:40%;">
          <% if current_user == nil %>
          <%= link_to "Contacter #{@advert.user.first_name}", new_user_session_path, class: "btn btn-primary" %>
          <% elsif current_user != nil && current_user.id == @advert.user_id %>
          <div>
          <div>
          <div class="col-md-8 mx-auto">
            <%= link_to 'Modifier cette anonce', edit_advert_path, class: "btn btn-primary" %>
            <%= link_to "Supprimer l'annonce", advert_path(@advert.id), method: :delete, class: "btn btn-outline-danger mx-2" %>
          </div>
        <% elsif current_user != nil && current_user.user_type == 'influencer' %>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inviter <%= @advert.user.first_name %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% current_user.projects.each do |project| %>
            
              <%= link_to "Sur #{project.title}", project_adverts_projects_join_index_path(@advert.id,project.id), method: :post, class: "dropdown-item" %>
            
          <% end %>
        <% end %>
      </div>
        </div>
        <div>
          <%= link_to 'Retourner à l\'index des annonces', adverts_path, class: 'btn btn-primary', style: 'width:244px;' %>
        
      </div>
  </div>
</div>
</div>

</div>
</div>

