<div class="container mt-5">
  <div class="card flex-row mb-5 " style="height:20rem;">
    <img style="width:22rem;height:20rem;"src="<%= @advert.picture %>" alt="">
    <div class="block d-flex" style="width:100%;">
      <div class="sub-block d-flex flex-column justify-content-between pl-4" style="width:70%;">
        <div class="card-block pt-4" style="width:60%;">
          <h3 class="card-title"><%= @advert.user.first_name %> <%= @advert.user.last_name %></h3>
          <h6 class="card-text"><%= @advert.tag %></h6>
        </div>
        <div>
        <p>Description : </p>
          <p class="card-text"><%= @advert.description %></p>
        </div>
        <div class="card-block pb-2">
          <div class="price-container bg-primary" style="display:flex;align-items:center;width:35%;height:4rem;border-radius:10px;padding-left:12px;">
            <div class="circle bg-secondary" style="width:5px;height:40px;border:1px solid black;border-radius:7px;" ></div>
            <div class="text-white ml-3">
              <p style="margin-bottom:0;">Tarif indicatif : </small></p>
              <h5 style="margin-bottom:0;"><span class="font-weight-bold text-white"><%=@advert.price %>$</span><span class="text-muted small">/ jour</span></h5>
            </div>
          </div>
          <h6 class="card-text mt-3"> Lien : <a href ="<%= @advert.link_field %>"><%= @advert.link_field %></a></h6>
        </div>
      </div>
        <div class="sub-block d-flex flex-column align-items-center justify-content-center" style="width:40%;">
          <% if current_user == nil %>
          <%= link_to "Contacter #{@advert.user.first_name}", new_user_session_path, class: "btn btn-primary" %>
          <% elsif current_user != nil && current_user.id == @advert.user_id %>
          <div>
            <%= link_to 'Modifier cette anonce', edit_advert_path, class: "btn btn-primary" %>
            <%= link_to "Supprimer l'annonce", advert_path(@advert.id), method: :delete, class: "btn btn-outline-danger mx-2" %>
          </div>
        <% elsif current_user != nil && current_user.user_type == 'influencer' %>
          <% current_user.projects.each do |project| %>
            <div>
              <%= link_to "Inviter sur #{project.title}", project_adverts_projects_join_index_path(@advert.id,project.id), method: :post, class: "btn btn-primary mb-2" %>
            </div>
          <% end %>
        <% end %>
        <div>
          <%= link_to 'Retourner à l\'index des annonces', adverts_path, class: 'btn btn-primary', style: 'width:244px;' %>
        </div>
        </div>
      </div>
  </div>
</div>