
<!-- Footer -->
<footer class="page-footer font-small color-dark pt-4 footer-link">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <%=image_tag('LogoInfluence-positif4.png', class: "d-inline-block align-top logo2")%>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

      <!-- Content -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Booste ta carrière d’influenceur.</h5>
      <p>Créer ton projet en 3 clics et engage des Freelances pour professionnaliser tes Réseaux. 
      Les meilleurs photographes, monteurs, maquilleurs et graphistes à portée de clic !</p>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Liens</h5>

        <ul class="list-unstyled font-weight-bold", style="text-decoration: none">
          <li>
          <%= link_to 'Accueil', root_path, class: 'nav-link' %>
          </li>
          <li>
          <%= link_to 'A Propos', ourteam_path, class: 'nav-link' %>
          </li>
          <li>
          <%= link_to 'Accueil', root_path, class: 'nav-link' %>
          </li>
          <li>
          <%= link_to 'A Propos', user_registration_path, class: 'nav-link' %>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
    <a href="https://www.facebook.com" class="fb-ic">
    <i class="fab fa-facebook-f fa-lg white-text mr-md-1 fa-2x"> </i>
  </a>
    </li>
    <li class="list-inline-item">
      <a href="https://twitter.com" class="btn-floating btn-tw mx-3">
        <i class="fab fa-twitter fa-lg white-text mr-md-1 fa-2x"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.instagram.com" class="btn-floating btn-instagram mx-1">
        <i class="fab fa-instagram a-lg white-text mr-md-1 fa-2x"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.linkedin.com" class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in a-lg white-text mr-md-1 mr-3 fa-2x"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://vimeo.com/fr/" class="btn-floating btn-vimeo mx-1">
        <i class="fab fa-vimeo a-lg white-text mr-md-1 mr-3 fa-2x"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

